# Ignore models
models/**

# Except these files - they show some config info
!models/*.md
!models/*.yaml
!models/*.tmpl
!models/*.old

# Ignore tmp
tmp/**
!tmp/keep

## Ignore audio
audio/**
!audio/.keep

release/

# just in case
.DS_Store
.idea

# Generated during build
backend-assets/