{{if eq .RoleName "assistant"}}{{.Content}}{{else}}
[INST]
{{if eq .RoleName "system"}}<<SYS>>{{.Content}}<</SYS>>{{else if and (.SystemPrompt) (eq .MessageIndex 0)}}<<SYS>>{{.SystemPrompt}}<</SYS>>{{end}}
{{if .Content}}{{.Content}}{{end}}
[/INST] 
{{end}}